# Python
.venv/
.python-version
__pycache__/
.mypy_cache/

# Editor files
.vscode/
.vim/

# Excel files
~$*.xls
~$*.xlsx

# OS files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Pickled models
*.pkl

# csv files
out/